[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/plugged/vim-monokai"]
	path = vim/plugged/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "vim/plugged/vim-colorschemes"]
	path = vim/plugged/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/plugged/vim-airline-themes"]
	path = vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
